body {
    margin: 20px;
    background: rgb(193, 209, 44);
    font-family: sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  input {
    width: 20%;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
    color: black;
    border: none;
    text-align: center;
    background: white;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #016ABC;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: pointer;
  }